.subheader {
  display: flex;
  flex-direction: column;
  gap: 4rem; }
  .subheader__dinamic {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2.5rem; }
  .subheader__static {
    display: flex;
    flex-wrap: wrap;
    width: 100%; }
    .subheader__static--item {
      flex: 1;
      background: #fafbfc;
      padding: 1.6rem 0.5rem;
      text-align: center;
      color: #232d40;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.4rem; }
      .subheader__static--item__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #ccc; }
      .subheader__static--item__info.no-border {
        border-right: none !important; }
      .subheader__static--item svg {
        color: #40b659;
        margin-bottom: 2rem;
        width: 5rem;
        height: 4.5rem; }
      .subheader__static--item p {
        font-size: 2rem; }
  .subheader__offer {
    border: 2px solid #ffd436;
    border-radius: 12px;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column; }
    .subheader__offer--head {
      background: #ffd436;
      color: #232d40;
      font-weight: 600;
      padding: 1.3rem 3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem; }
    .subheader__offer--info {
      padding: 1rem 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 2rem; }
      .subheader__offer--info__content {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .subheader__offer--info__content__image {
          height: 25rem;
          max-height: 25rem;
          object-fit: contain; }
        .subheader__offer--info__content__labels {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-left: 1.5rem;
          gap: 2rem; }
        .subheader__offer--info__content__label {
          margin-right: 0;
          font-size: 1.6rem;
          font-weight: 600;
          padding: 0.4rem 0.8rem;
          height: auto;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          text-align: left;
          min-height: auto; }
        .subheader__offer--info__content__label--purple {
          background: rgba(23, 67, 223, 0.07);
          color: #1743df !important;
          border: none; }
          .subheader__offer--info__content__label--purple svg {
            margin-right: 3px;
            margin-top: -2px; }
        .subheader__offer--info__content__label--orange {
          background: rgba(246, 134, 31, 0.07);
          color: #f6861f !important;
          border: none; }
      .subheader__offer--info__brand {
        align-items: flex-start;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .subheader__offer--info__brand img {
          height: 6rem;
          object-fit: contain;
          object-position: right;
          margin-top: 1rem; }
        .subheader__offer--info__brand a {
          background-color: transparent;
          font-weight: 400;
          transition: .3s;
          text-decoration: none !important; }
        .subheader__offer--info__brand__title {
          font-weight: 700;
          color: #232d40;
          font-size: 2.5rem;
          margin-right: 1.2rem; }
      .subheader__offer--info__bottom {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .subheader__offer--info__bottom__price {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          font-weight: 500; }
          .subheader__offer--info__bottom__price .old-price {
            font-size: 1.8rem;
            color: #777;
            text-decoration: line-through; }
          .subheader__offer--info__bottom__price .new-price {
            font-size: 3.5rem; }
        .subheader__offer--info__bottom__buttons {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem; }

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 55%; }

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #212529;
  font-size: 1rem; }

.button {
  font-size: 2rem;
  color: #5b5f66;
  line-height: 2rem;
  display: inline-block;
  border-bottom: 1px solid transparent;
  white-space: nowrap;
  text-transform: capitalize; }
  .button-orange {
    font-weight: 600;
    padding: 2rem 3.5rem;
    transition: .2s ease-in-out;
    color: #ffff;
    background-color: #f6861f;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid currentColor;
    align-items: center; }
    .button-orange:hover {
      background-color: #fff;
      color: #f6861f; }
  .button--with__icon {
    display: flex;
    align-items: center; }
  .button-green {
    font-weight: 600;
    padding: 2rem;
    color: #fff;
    background-color: #40b659;
    display: inline-block;
    border-radius: 6px;
    border: 1px solid currentColor;
    font-size: 2rem;
    align-items: center;
    transition: all .2s ease-in-out; }
    .button-green:hover {
      color: #40b659;
      background-color: #fff; }

body {
  background-color: black; }

.container {
  width: 1350px;
  margin: 0 auto; }
