.subheader{
    display: flex;
    flex-direction: column;
    gap: 4rem;

    &__dinamic{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 2.5rem;
        
    }
    &__static{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        &--item{
            flex: 1;
            background: #fafbfc;
            padding: 1.6rem 0.5rem;
            text-align: center;
            color: #232d40;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.4rem;

            &__info{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-right: 1px solid #ccc;
            }
            &__info.no-border{
                border-right: none !important;
            }

            svg{
                color: #40b659;
                margin-bottom: 2rem;
                width: 5rem;
                height: 4.5rem;
            }

            p{
                font-size: 2rem;
            }
        }
    }
    &__carousel{

    }
    &__offer{
        border: 2px solid #ffd436;
        border-radius: 12px;
        overflow: hidden;   
        width: 100%;
        display: flex;
        flex-direction: column;
        &--head{
            background: #ffd436;
            color: #232d40;
            font-weight: 600;
            padding:1.3rem 3rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 2rem;
        }

        &--info{
            padding: 1rem 2rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex: 1;
            gap: 2rem;

            &__content{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__image{
                    height: 25rem;
                    max-height:25rem;
                    object-fit: contain;
                }
                &__labels{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-left: 1.5rem;
                    gap: 2rem;
                }
                &__label{
                    margin-right: 0;
                    font-size: 1.6rem;
                    font-weight: 600;
                    padding: 0.4rem 0.8rem;
                    height: auto;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    text-align: left;
                    min-height: auto;
                }
                &__label--purple{
                    background: rgba(23,67,223,.07);
                    color: #1743df!important;
                    border: none;
                    
                    svg{
                        margin-right: 3px;
                        margin-top: -2px;
                    }
                }

                &__label--orange{
                    background: rgba(246,134,31,.07);
                    color: #f6861f!important;
                    border: none;
                }
            }

            &__brand{
                align-items: flex-start;
                margin-bottom: 1rem; 
                display: flex;
                align-items: center;
                justify-content: space-between;

                img{
                    height: 6rem;
                    object-fit: contain;
                    object-position: right;
                    margin-top: 1rem;
                }

                a{
                    background-color: transparent;
                    font-weight: 400;
                    transition: .3s;
                    text-decoration: none !important;
                }

                &__title{
                    font-weight: 700;
                    color: #232d40;
                    font-size: 2.5rem;
                    margin-right: 1.2rem;
                }
            }
            &__bottom{
                margin-top: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                &__price{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-weight: 500;
                    .old-price{
                        font-size: 1.8rem;
                        color: #777;
                        text-decoration:line-through;
                    }
                    .new-price{
                        font-size: 3.5rem;
                    }
                }
                &__buttons{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1rem;
                }
            }
        }
    }
}